<section>
  <h2 class="ribbon ribbon--left ribbon--flipped ribbon--centered">Ready to buy your tickets?</h2>
  <p class="index-summary-ticket-message text-center"><strong>Check back soon!</strong></p>
  {{!-- <p class="cta"><a class="button buy-tickets-link" href="#">Buy your tickets somewhere</a></p> --}}
</section>
{{!-- <section class="photo">
  <img alt="Yehuda Katz delivering the keynote at EmberCamp London 2015"
       src="/assets/images/yehuda-keynote.jpg" width="1280" height="535">
</section> --}}