<section>
  <h2 class="ribbon ribbon--left ribbon--flipped ribbon--centered">Ready to buy your tickets?</h2>
  <p>Tickets to EmberCamp Chicago aren't on sale yet.</p>
  {{#unless ticketSalesDisabled}}
    <p class="cta"><a class="button" href="#">Buy your tickets somewhere</a></p>
  {{/unless}}
</section>
<section class="photo">
  <img alt="Yehuda Katz delivering the keynote at EmberCamp London 2015"
       src="./yehuda-keynote.jpg" width="1280" height="535">
</section>