<section>
  <h2 class="ribbon ribbon--left ribbon--flipped ribbon--centered">Ready to buy your tickets?</h2>
  <p class="text-center">Tickets to EmberCamp Chicago are on sale via Eventbrite.</p>
  <p class="cta"><a class="button buy-tickets-link" href="https://www.eventbrite.com/e/embercamp-chicago-registration-46579387201">Buy Tickets @ Eventbrite</a></p>
</section>