<section class="pull-up">
  <!--<h3 class="ribbon ribbon--left ribbon--centered ribbon--skinny">Premier Sponsors</h3>
  <ul class="sponsor-list">
    {{#each @premierSponsors as |sponsor|}}
      <li>
        {{sponsor-details sponsor=sponsor}}
      </li>
    {{/each}}
  </ul>

  <h3 class="ribbon ribbon--right ribbon--centered ribbon--skinny">Supporting Sponsors</h3>
  <ul class="sponsor-list">
    {{#each @supportingSponsors as |sponsor|}}
      <li>
        {{sponsor-details sponsor=sponsor}}
      </li>
    {{/each}}
  </ul>-->
  <h2 class="ribbon ribbon--right ribbon--centered">Become A Sponsor</h2>
 
  <p class="prospectus">
    Become a sponsor and support the Chicago Ember community!
    <a class="button" href="mailto:chicago@embercamp.com?subject=EmberCamp%20Sponsorship">Contact us to find out more!</a>
  </p>
</section>