{{#with @sponsor as |sponsor|}}
  <a class="sponsor-details-link" href="{{sponsor.website}}">
    <img class="sponsor-details-logo" alt="{{sponsor.sponsorName}}" src="{{sponsor.imageUrl}}">
  </a>
{{/with}}
