<section class="pull-up">

  <h2 class="ribbon ribbon--right ribbon--centered">Sponsors</h2>

  <p class="prospectus">
    It's because of our amazing sponsors that we can keep ticket prices low, and we're grateful to the companies supporting EmberCamp Chicago! If your company is interested in becoming a sponsor and supporting the Chicago Ember community, please read the <a href="/assets/images/prospectus/EmberCamp-Chicago-2019-Sponsor-Prospectus.pdf">Sponsor Prospectus</a> and reach out to <a href="mailto:embercamp.chicago@gmail.com">embercamp.chicago@gmail.com</a> and we'll get the process started!
    
    
  </p>

  {{#if platinum.length}}
  <h3 class="ribbon ribbon--left ribbon--centered ribbon--skinny ribbon--dark">Platinum Sponsor</h3>
  <ul class="sponsor-list">
    {{#each platinum as |sponsor|}}
      <li>
        {{sponsor-details sponsor=sponsor classNames='sponsor-details-platinum'}}
      </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if gold.length}}
    <h3 class="ribbon ribbon--right ribbon--centered ribbon--skinny ribbon--dark">Gold Sponsors</h3>
    <ul class="sponsor-list">
      {{#each gold as |sponsor|}}
        <li>
          {{sponsor-details sponsor=sponsor classNames='sponsor-details-gold'}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if silver.length}}
    <h3 class="ribbon ribbon--left ribbon--centered ribbon--skinny ribbon--dark">Silver Sponsors</h3>
    <ul class="sponsor-list">
      {{#each silver as |sponsor|}}
        <li>
          {{sponsor-details sponsor=sponsor classNames='sponsor-details-bronze'}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if bronze.length}}
    <h3 class="ribbon ribbon--right ribbon--centered ribbon--skinny ribbon--dark">Bronze Sponsors</h3>
    <ul class="sponsor-list">
      {{#each bronze as |sponsor|}}
        <li>
          {{sponsor-details sponsor=sponsor classNames='sponsor-details-bronze'}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

</section>