{{#with @sponsor as |sponsor|}}
  <a class="sponsor-details-link" target="_blank" href="{{sponsor.website}}">
    <img class="sponsor-details-logo" alt="{{sponsor.sponsorName}} Logo" src="{{sponsor.imageUrl}}">
  </a>
{{/with}}
