ol, ul, li {
  list-style: none;
}

h2 {
  @media screen and (min-width: 992px) {
    font-size: 3rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1rem 0;
}
