.code-of-conduct {
  &-message {
    background: $white;
    border-radius: 2px;
    border: 1px solid $gray-dark;
    font-size:1.5rem;
    margin: 2rem auto;
    padding: 1rem 3rem;
    &-back{
      text-align: center;
      margin: 2rem 0;
    }
  }
}