.session-details {
  &-title {
    font-size: 1.5rem;
    max-width: 800px;
    text-align: left;
  }
  &-content {
    display: flex;
    max-width: 800px;
  }
  &-text {
    margin: 0;
    padding-left: 20px;
  }
  &-img-wrapper {
    & img {
      border-radius: 50%;
      height: 220px;
      width: 220px;
    }
  }
  &-speaker-name {
    margin: 0;
    text-align: center;
  }
}