.speaker-list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none outside;
  margin: 0 auto;
  max-width: 90% !important;
  padding: 0;
}

.speaker-list li {
  margin: 1rem;
  text-align: center;
  width: calc(33% - 2rem);
  @media screen and (max-width: 968px) {
    width: calc(60% - 2rem);
    padding-bottom: 1.5rem;
    &:not(:last-of-type) {
      border-bottom: 1px solid #d8d8d8;
    }
  }
  @media screen and (max-width: 480px) {
    width: calc(75%);
  }
}

.speaker-details {
  &-image {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
  }
  &-twitter-handle {
    display: inline-block;
    border: 1px solid $brand-color;
    margin-top: .5rem;
    padding: .1rem .5rem;
    color: $accent-color;
    text-decoration: none;
    font-size: .8rem;
    &:hover {
      border-color: lighten($brand-color, 10%);
      color: lighten($accent-color, 10%);
    }
  }
  &-name{
    font-size:1.3rem;
    font-weight: 900;
  }
  &-type{
    display: block;
    margin: .5rem auto;
    font-size: 1rem;
    &:before{
      color: white;
      border-radius: 3px;
    }
    &.keynote{
      &:before {
        content: 'Keynote';
        padding: .25rem .75rem;
        background: $brand-color;
      }
    }
  }
}