.sponsor-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none outside;
  margin: 0 auto;
  max-width: 100% !important;
  padding: 0;
}

.sponsor-list > li {
  margin: 1rem;
}

.sponsor-list > li > a {
  display: block;
  position: relative;
  text-decoration: none;
}

.sponsor-list > li > a > img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 50rem) {
  .sponsor-list {
    max-width: 60rem !important;
  }
}
