.sponsor-details {
  &-link {
    border: 2px solid transparent;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 240px;
    max-width: 100%;
    &:hover {
      border-color: $brand-color;
    }
  }
  &-logo {
    width: 100%;
  }
  &-platinum {
    & .sponsor-details-link{
      width: 360px;
    }
  }
  &-gold {
    & .sponsor-details-link{
      width: 240px;
    }
  }
  &-bronze {
    & .sponsor-details-link{
      width: 180px;
    }
  }
}