<header role="banner">
  <h1 class="sr-only">Ember Camp Chicago 2019</h1>
  <a href="/" aria-label="Home">
    <img src="/assets/images/embercamp-chicago-white.png" width="180" height="72" alt="" role="presentation"/>
  </a>
</header>
<main role="main">
  {{outlet}}
</main>
<footer role="contentinfo">
  <nav>
    <a href="/">Home</a>
    <a href="http://emberwomen.com/">Women: Get Involved</a>
    <a href="/code-of-conduct">Code of Conduct</a>
    <a href="mailto:chicago@embercamp.com">Get in Touch</a>
    {{link-to 'Speakers' 'speakers'}}
    {{link-to 'About' 'about'}}
  </nav>
</footer>