<header role="banner">
  <h1 class="sr-only">Ember Camp Chicago 2018</h1>
  <img src="/assets/images/embercamp-chicago-white.png" width="180" height="72" alt="" role="presentation"/>
</header>
<main role="main">
  {{outlet}}
</main>
<footer role="contentinfo">
  <nav>
    <!--todo: footer nav contents-->
    {{link-to 'Home' 'index'}}
    <a href="http://emberwomen.com/">Women: Get Involved</a>
    {{link-to 'Code of Conduct' 'code-of-conduct'}}
    <a href="mailto:chicago@embercamp.com">Get in Touch</a>
    <a href="http://tilde.io/">© Tilde Inc. 2018</a>
  </nav>
</footer>