<div class="code-of-conduct">
  <section>
    <h2 class="ribbon ribbon--left ribbon--centered">Code of Conduct</h2>
    <div class="code-of-conduct-message">
      <h3 class="text-center">No Jerks Allowed!</h3>
      <p>We’re committed to being an inclusive, welcoming conference for everyone. Anyone asked to stop any harassing
        behavior is expected to comply immediately. We reserve the right to warn or expel offenders from the conference
        with no refund, and to bar them from future participation, both speaking and attendance.</p>

      <p>If you are being harassed, see someone else being harassed, or have any other concerns while at the event,
        please
        tell a staff member (identifiable by their shirts) immediately. For less urgent issues, you are also welcome to
        <a href="mailto:chicago@embercamp.com">email the organizers</a> (directly, or you can reply to any of the email
        reminders and announcements we've sent), though we do encourage reporting any issues <em>promptly</em>.</p>

      <p>Please read through the <a href="http://emberjs.com/guidelines/" target="_blank">Ember.js Project Community
        Guidelines</a> for a more detailed overview of the intent and goals of the Ember community at large. We stand by
        the principles of the community CoC and consider them part of our CoC as well.</p>

      <p>For purposes of clarity, harassment includes, but is not strictly limited to: offensive verbal comments related
        to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size,
        race, ethnicity, religion, sexual images in public spaces, deliberate intimidation, stalking, following,
        harassing
        photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and
        unwelcome sexual attention.</p>

      <p>
        <small class="adaptation-notice">
          This policy was adapted from a sample by
          <a href="http://geekfeminism.org" target="_blank">Geek Feminism</a> with changes from
          <a href="http://confcodeofconduct.com/" target="_blank">ConfCodeofConduct.com</a> and
          <a target="_blank" href="https://emberconf.com/code-of-conduct.html">EmberConf</a>.
        </small>
      </p>

      <p class="code-of-conduct-message-back">
        <a href="/">Home</a>
      </p>
    </div>
  </section>
</div>