<section class="lead">
  <h2 class="text-center">EmberCamp is coming to Chicago!</h2>
  <p>Join us on September 21 for the first-ever EmberCamp Chicago, where we’ll be hosting 150+ of the world’s top Ember
    developers for a full day of Ember talks by Core Team and Community members. If you’re looking to make new Ember friends, get the scoop
    on what's coming next, or to hire Ember talent, EmberCamp Chicago is the place to be!</p>

  <p class="index-summary-ticket-message text-center"><strong>Check back soon to buy tickets.</strong></p>
</section>

<div class="index-images">
    <img class="index-summary-image" src="chase-tower-skyline.jpg" alt="" role="presentation">
    <img class="index-summary-image" src="chase-tower-building.jpg" alt="" role="presentation">
    <img class="index-summary-image" src="chase-tower-skyline-2.jpg" alt="" role="presentation">
</div>

<section>
  <h2 class="ribbon ribbon--left ribbon--centered">Speakers</h2>
  <p>The theme for EmberCamp Chicago is <b>"It's Easy In Ember!"</b> We are seeking talks that showcase how Ember helps developers do things faster! Interested in speaking at EmberCamp Chicago? <a href="https://cfp.emberconf.com/events/embercamp-chicago-2018">Submit a CFP!</a></p>
  <img class="speakers-placeholder" src="zoey-and-tom.png" alt="Zoey and Tomster Waving">
  {{!--
    <ul class="speaker-list">
      {{#each model.speakers as |speaker|}}
        <li>
          {{speaker-details speaker=speaker}}
        </li>
      {{/each}}
    </ul>
  --}}

</section>

<section>
  {{!--
  <h2 class="ribbon ribbon--right ribbon--flipped ribbon--centered">Schedule</h2>
    {{program-schedule events=model.scheduleItems}}
    {{link-to 'See full program' 'program' classNames='program-link'}}
  --}}
</section>