{{program-schedule events=model.scheduleEvents showBreaks=true}}

{{!--
<section>
  <h2 class="trim">After Party at ActiveCampaign</h2>
  <dl>
    <dt>Hosted by ActiveCampaign</dt>
    <dt>1 N. Dearborn, Chicago, IL</dt>
    <dt>Food, Drink, Good Company</dt>
    <dt>5:30pm - 8:00pm</dt>
  </dl>
</section>
--}}
